<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>557535626534-5aj84viqrllqm0jpls40fcs63o64rnmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557535626534-5aj84viqrllqm0jpls40fcs63o64rnmn</string>
	<key>API_KEY</key>
	<string>AIzaSyD17cj8v_NUerz83MLPy48p3nWFAbdXyQk</string>
	<key>GCM_SENDER_ID</key>
	<string>557535626534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magma.rooms</string>
	<key>PROJECT_ID</key>
	<string>proyectr-43d4b</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectr-43d4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557535626534:ios:bbf5be34a193257c</string>
	<key>DATABASE_URL</key>
	<string>https://proyectr-43d4b.firebaseio.com</string>
</dict>
</plist>